aiohttp >= 2.0, < 3.0  # a Streaming API will not work with the new aiohttp :(
passlib
sqlalchemy >= 1.1  # Used to store and manage persistent data like settings and Placements
appdirs   # to determine where user .config dir is located
pyyaml  # to read configuration file in YAML
zeroconf  # to announce itself in the local network
